#root {
  background-color: #0A0A0A;
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #1F2937 inset; /* Tailwind bg-gray-900 */
  -webkit-text-fill-color: rgb(255 255 255); /* Tailwind text-white */
}
